@media screen and (max-width: 1100px) {
	#about-panel4 {
		display: none;
	}
}

/* ABOUT PANEL 1 */

	#about-panel1 {
		text-align: justify;
		background-image: url("../res/images/about-us-overlay.jpg");
		background-size: 100% 100%;
		z-index: 1000;
	}
 
	#about-panel1-content { 
		background: rgba(0,0,0,0.5);
	}

	#about-panel1 h1, h3 {
		color: white;
	}

	#about-panel1 h1 {
		text-align: center;
	}

	#about-panel1 p {
		color: #ecf0f1;	
	}

/* ABOUT PANEL 2 */
	
	#about-panel2 {
		background-color: #ECF0F1;
	}

	#director-quote h3 {
		color: #7f8c8d;
		text-align: center;
	}

	#director-bio-panel {
		text-align: center;
	}

	#director-bio-panel img {
		border-radius: 100%;
		width: 50%;
	}

	#director-bio-panel h6 {
		font-style: italic;
		color: #3498db;
	}

/* ABOUT PANEL 3 */

	#about-panel3 {
		text-align: justify;
		background-color: white;
	}

	#about-panel3 h2 {
		text-align: center;
		color: #2c3e50;
	}

/* ABOUT PANEL 4 */

	#about-panel4 {
		height: 550px;
		z-index: -100;
		overflow: scroll;
	}

	#about-panel4::-webkit-scrollbar {
		display: none;
	}

	#timeline-content {
		width: 7500px;
		height: 100%;
		background-image: url("../res/timeline/tlbg.jpg");
		background-size: auto 100%;
	}

	#tic {
		border: solid 50px transparent;
		border-bottom: solid 50px #2ecc71;
		position: absolute;
		left: 50%;
		margin-top: 250px;
		display: none;
	}

	@-webkit-keyframes TRAIN {
		0% {
			margin-top: 400px;	
		}
		100% {
			margin-top: 397px;
		}
	}

	#tl-train {
		position: absolute;
		left: -80%;
		margin-top: 400px;
		transition: all 0.3s linear;
		-webkit-animation: TRAIN 0.5s infinite;

	}

/* DATE- ENTRIES */
/*
	.col-md-12, .tl-photo-wrapper, .time-text {
		border: solid 1px red;
	}
*/
	.date-entry {
		height: 200px;
		overflow: hidden;
		background-color: white;
		box-shadow: 1px 1px 5px silver;
	}

	.time-text {
		text-align: center;
		padding: 15px;
		float: left;
	}

	.tl-photo-wrapper {
		width: 200px;
		float: right;
	}

	.tl-photo {
		width: 100%;
		height: 100%;
	}

	#tl-entry-1 {
		width: auto;
		left: 1000px;
		margin-top: 25px;
		opacity: 0;
	}

		#tl-entry-1 > .time-text {
			width: 650px
		}


	#tl-entry-2 {
		opacity: 0;
		width: auto;
		left: 1100px;
		margin-top: 25px;
	}

		#tl-entry-2 > .time-text {
			width: 550px		
		}

	#tl-entry-3 {
		width: auto;
		left: 1200px;
		margin-top: 25px;
		opacity: 0;
	}

		#tl-entry-3 > .time-text {
			width: 180px		
		}

	#tl-entry-4 {
		width: auto;
		left: 1300px;
		margin-top: 25px;
		opacity: 0;
	}

		#tl-entry-4 > .time-text {
			width: 450px		
		}

	#tl-entry-5 {
		width: auto;
		left: 1400px;
		margin-top: 25px;
		opacity: 0;
	}

		#tl-entry-5 > .time-text {
			width: 500px;		
		}

	#tl-entry-6 {
		width: auto;
		left: 1500px;
		margin-top: 25px;
		opacity: 0;
	}

		#tl-entry-6 > .time-text {
			width: 150px;	
			margin-top: 50px;	
		}

	#tl-entry-7 {
		width: auto;
		left: 1600px;
		margin-top: 25px;
		opacity: 0;
	}

		#tl-entry-7 > .time-text {
			width: 150px;	
			margin-top: 50px;	
		}

	#tl-entry-8 {
		width: auto;
		left: 1700px;
		margin-top: 25px;
		opacity: 0;
	}

		#tl-entry-8 > .time-text {
			width: 200px;	
			margin-top: 25px;
		}
