/* ABOUT PANEL 1 */

	#about-panel1 {
		text-align: justify;
		background-image: url("../res/images/about-us-overlay.jpg");
		background-size: 100% 100%;
		z-index: 1000;
	}

	#about-panel1-content { 
		background: rgba(0,0,0,0.5);
	}

	#about-panel1 h1, h3 {
		color: white;
	}

	#about-panel1 h1 {
		text-align: center;
	}

	#about-panel1 p {
		color: #ecf0f1;	
	}

/* ABOUT PANEL 2 */
	
	#about-panel2 {
		background-color: #ECF0F1;
	}

	#director-quote h3 {
		color: #7f8c8d;
		text-align: center;
	}

	#director-bio-panel {
		text-align: center;
	}

	#director-bio-panel img {
		border-radius: 100%;
		width: 50%;
	}

	#director-bio-panel h6 {
		font-style: italic;
		color: #3498db;
	}

/* ABOUT PANEL 3 */

	#about-panel3 {
		text-align: justify;
		background-color: white;
	}

	#about-panel3 h2 {
		text-align: center;
		color: #2c3e50;
	}

/* ABOUT PANEL 4 */

	#about-panel4 {
		height: 500px;
		z-index: -100;
		overflow: scroll;
	}

	#timeline-content {
		width: 5000px;
		height: 100%;
		background-color: khaki;
		background: url("../res/images/timeline-bg.png");
		background-size: auto 100%;
	}

	#tic {
		height: 100px;
		width: 100px;
		position: absolute;
		right: 50%;
		margin-top: 320px;
	}

	#tic-icon {
		height: 100%;
	}

	#about-panel4::-webkit-scrollbar {
		display: none;
	}