/* HEADER */

#curriculum-header-wrapper{
    background-image: url("../res/images/physci.jpg");
    background-size: 100% 300%;
    background-position: right bottom;
}

#curriculum-header{
    text-align: center;
}

#curriculum-header h1{
    color: white;
}

#curriculum-header p{
    color: #ecf0f1;
}

/* SVG */

.scrollable{
	display: inline-block;
	position: relative;
	width: 100%;
	overflow-x: scroll;
	overflow-y: visible;
}

.content{
	display: inline-block;
	top: 0;
	left: 0;
	background-size: contain;
}

#svg-curriculum{
    background-color: white;
}

.scrollable::-webkit-scrollbar { 
    display: none; 
}

/* COURSE TITLES */

#courses-body{
    text-align: center;
}

#curriculum-text p{
    text-align: justify;
}