.title {
	text-align: center;
    color: #34495e;
}

.scrollable{
	display: inline-block;
	position: relative;
	width: 100%;
	overflow-x: scroll;
	overflow-y: visible;
}

.content{
	display: inline-block;
	top: 0;
	left: 0;
	background-size: contain;
}

#svg-curriculum{
    background-color: rgba(255,255,255,0.8);
    margin: 10px 0 10px 0; 
}


#course-desc{
    background-color: white;
    padding-bottom: -10px;
}

#course{
    margin: 20px;
    background-color: white;
    border-top: 5px solid #2ecc71;
}

#course-desc p, #course-desc h3, #course-desc h5{
    text-align: center;
}

#

/*
a.masterTooltip div {
    background-color: red;
    display: none;
}

a.masterTooltip:hover div{
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background-color: red;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
}*/

/*
What to do: add about below svg
if cannot add tooltip or enlarge shape
*/