@media (max-width: 900px) {
	#site-title {
		font-size: 3.8vw;
	}
	.footer-detail {
		display: none;
	}
}
  
@font-face {
	font-family: montserrat-reg;
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: montserrat-bold;
	src: url("../fonts/Montserrat-Bold.ttf");
}

body {
	font-family: montserrat-reg;
	background-color: #34495E;
	color: #7f8c8d;
}

#main {
    background-color: #ECF0F1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: montserrat-bold;
	color: #34495e;
}

.col-md-12 {
	padding: 0;
}

.wrapping-panel {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* TITLE BAR */

	#title-bar-wrapper {
		height: 50px;
		background-color: #2980b9;
		color: white;
	}

	#site-title {
		color: white;
	}

	#navigation-menu {
		border-radius: 0;
		border: none;
		background-color: white;
		box-shadow: 0 1px 5px silver;
		margin: 0;
		z-index: 10;
	}

	#title-bar img {
		position: absolute;
		z-index: 100;
		margin: 0;
		top: 0;
		width: 100px;
		height: 100px;
	}

	#site-title {
		margin-left: 115px;
		line-height: 15px;
	}


/*REGISTRATION PANEL */

	#register-field {
		display: none;
		width: auto;
		height: auto;
		position: absolute;
		top: 50px;
		right: 150px;
		z-index: 1000;
		padding: 10px;
		padding-right: 25px;
		padding-left: 25px;
		background-color: white;
		border-top: solid 5px #34495e;
		border-bottom: solid 5px #34495e;
		box-shadow: 1px 1px 5px silver;
	}

	#register-field a {
		color: white;
	}

	#register-field a:hover {
		font-weight: bolder;
		text-decoration: none;
	}

	.register-button {
		margin: 5px;
		color: white;
		background-color: #2980b9;
	}

/*LOGIN PANEL */

	#login-form-wrapper {
		background: url("../res/images/uplb-blur.jpg");
		background-size: 100%;
	}

	#login-form-panel {
		width: 50%;
		margin: auto;
		margin-left: 25%;
		margin-top: 5%;
		background-color: white;
		text-align: center;
		box-shadow: 1px 1px 5px silver;
	}

	#login-form-panel h2 {
		color: #2c3e50;
	}

	#login-icon{
	}

	#login-icon img{
		width: 30%;
		border-radius: 100%;
		margin-top: -15%;
		border: solid 10px white;
	}

	#login-form-body {
		width: 90%;
		margin-left: 5%;
	}

	#login-submit {
		padding: 10px;
		margin: 20px 0 20px 0; 
		width: 100%;
	}

/* FOOTER */

	#footer {
		width: 100%;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #2980B9;
		border-bottom: solid 10px #34495E;
		font-size: 1em;
	}

	#footer-wrapper h4, h2 {
		color: white;
	}

	.footer-detail {
		text-align: right;
		color: white;
	}

	#footer-title {
		margin-top: -30px;
		text-align: center;
		color: white;
	}

	#footer-wrapper img {
		width: 50px;
		border-radius: 100%;
		background-color: white;
	}

#dimmer {
	width: 100%;
	height: 100%;
	background-color: red;
	position: fixed;
	top: 0;
	z-index: 5000;
	background-color: rgba(0,0,0,0.5);
	display: none;
}


#pop-up {
	display: none;
	text-align: center;
 	margin-left: 25%;
 	position: fixed;
 	width: 50%;
 	height: auto;
 	top: 25%;
 	z-index: 10000;
 	background-color: white;
 	padding: 20px;
 	box-shadow: 1px 1px 5px black;
 	font-size: 20pt;
}

#pop-up span {
 	background-color: #2ecc71;
 	padding: 20px;
 	font-size: 50pt;
 	border-radius: 100%;
 	margin: 20px;
 	margin-top: 0;
 	color: white;
}

#pop-up button {
	margin: 20px;
}