@media (max-width: 900px) {
	#site-title {
		font-size: 3.8vw;
	}
	.footer-detail {
		display: none;
	}
}

@font-face {
	font-family: montserrat-reg;
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: montserrat-bold;
	src: url("../fonts/Montserrat-Bold.ttf");
}

body {
	font-family: montserrat-reg;
	background-color: #ECF0F1;
	color: #7f8c8d;
}

h1, h2, h3, h4, h5, h6 {
	font-family: montserrat-bold;
	color: #34495e;
}

.col-md-12 {
	padding: 0;
	
}

.wrapping-panel {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* TITLE BAR */

	#title-bar-wrapper {
		height: 50px;
		background-color: #2980b9;
		color: white;
	}

	#site-title {
		color: white;
	}

	#navigation-menu {
		border-radius: 0;
		border: none;
		background-color: white;
		box-shadow: 0 1px 5px silver;
		margin: 0;
	}

	#title-bar img {
		position: absolute;
		z-index: 100;
		margin: 0;
		top: 0;
		width: 100px;
		height: 100px;
	}

	#site-title {
		margin-left: 115px;
		line-height: 15px;
	}


/*REGISTRATION PANEL */

	#register-field {
		display: none;
		width: auto;
		height: auto;
		position: absolute;
		top: 50px;
		right: 150px;
		z-index: 1000;
		padding: 10px;
		padding-right: 25px;
		padding-left: 25px;
		background-color: white;
		border-top: solid 5px #34495e;
		border-bottom: solid 5px #34495e;
		box-shadow: 1px 1px 5px silver;
	}

	#register-field a {
		color: white;
	}

	#register-field a:hover {
		font-weight: bolder;
		text-decoration: none;
	}

	.register-button {
		margin: 5px;
		color: white;
		background-color: #2980b9;
	}




/*LOGIN PANEL */

	#login-field {
		display: none;
		width: auto;
		height: auto;
		position: absolute;
		top: 50px;
		right: 50px;
		z-index: 1000;
		padding: 10px;
		padding-right: 25px;
		padding-left: 25px;
		background-color: white;
		border-top: solid 5px #34495e;
		border-bottom: solid 5px #34495e;
		box-shadow: 1px 1px 5px silver;
	}

	#login-field button {
		margin: 10px;
		color: white;
		background-color: #2980b9;
	}

	#login-field input {
		margin-top: 5px;
		color: #34495e;
	}

	#login-field-content {
		width: auto;
		float: right;
		margin-top: 8px;
	}


	.log-in-input-field {
		border: none;
		border-bottom: solid 1px silver;
		text-align: center;
	}

	#forget-text {
		font-size: 8pt;
	}


/* FOOTER */

	#footer {
		width: 100%;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #2980B9;
		border-bottom: solid 10px #34495E;
		font-size: 1em;
	}

	#footer-wrapper h4, h2 {
		color: white;
	}

	.footer-detail {
		text-align: right;
		color: white;
	}

	#footer-title {
		margin-top: -30px;
		text-align: center;
		color: white;
	}

	#footer-wrapper img {
		width: 50px;
		border-radius: 100%;
		background-color: white;
	}


/*IF USER IS LOGGED IN
.img-circle {
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 5px #888888;
}

#nav-pic{
	height: 30px;
	width: 30px;
	margin-bottom:-15px;
	margin-top: 10px;	
}


#drop-field{
	width: 150px;
	height: auto;
	position: absolute;
	background-color: white;
	background-image: url("../res/images/feathers.png");
	top: 51px;
	right: 60px;
	display: none;
	box-shadow: 1px 1px 5px #666666;
}

.dropdown-items {
	width: 100%;
	margin-left: -20px;
	color: #666;
	text-align: center;
	cursor: hand;
}

.dropdown-items:hover {
	color: black;
}

#drpdwn{
	height: 30px;
	width: 30px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:-15px;
	margin-top: 10px;
}


/* IF USER IS NOT LOGGED IN */
/*
#login-field {
	width: 250px;
	height: auto;
	position: absolute;
	background-color: white;
	background-image: url("../res/images/feathers.png");
	top: 51px;
	right: 50px;
	display: none;
	box-shadow: 1px 1px 5px #888888;
}

.login-filed-content-wrapper {
	width: 230px;
	margin: 10px;
	text-align: center;
}

.log-in-input-field {
	width: 85%;
	height: 20px;
	text-indent: 5px;
	border: none;
	box-shadow: 1px 1px 2px #888 inset;
	border-radius: 3px;
}

.login-filed-content-wrapper > p {
	margin: 0;
}

.login-filed-content-wrapper > input {
	margin: 0;
}

.log-in-button {
	background-color: #ad3a45;
	color: white;
	margin-top: -10px;
}

