#carousel-wrapper {
	margin-top: 25px;
}

#image-slider-wrapper {
	width: 100%;
	height: 400px;
	overflow: hidden;
	background: black;
}

#image-slider {
	margin-right: -15px;
	margin-left: -15px;
}

.item {
	width: 100%;
	height: 100%;
}

.item img {
	width: 100%;
}

.carousel-caption > h3 {
	letter-spacing: 5px;
}

#body-wrapper {
	padding-bottom: 20px;
}

#publication-content-wrapper {
	height: auto;
	width: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	overflow: hidden;
}

.pub-title-bar {
	height: 50px;
	background-color: #ad3a45;
	text-indent: 100px;
	color: white;
}

.publication-entry {
	box-shadow: 1px 1px 5px #888888;
}

.pub-title-bar > h3 {
	line-height: 50px;
}

.pub-text {
	background-color: rgba(233, 224, 214, 0.3);
}

.pub-text > p {
	text-align: justify;
	padding: 20px;
	padding-top: 30px;
}
