/*
	BODY CSS
*/

#group-right-panel {
	padding 0;
}

#group-menu-wrapper {
	padding:0;
}

#nav-pic {
	height: 30px;
	width: 30px;
	margin-bottom:-15px;
	margin-top: 10px;	
}

#drpdwn{
	margin-left:10px;
	width:auto;
	height:33px;
}

/**
	Profile-Panel
**/

.profile-icon{
	margin-top:8px;
	margin-left:15px;
	font-size:35px;
}

#profile-panel h3 {
	line-height: 15px;
}

#profile-panel-wrapper{
	padding-left:0px;
}

#profile-panel {
	height: auto;
	padding-bottom: 20px;
	padding-left:5px;
	background-color: #2980b9;
	color: white;
}

#name{
	margin-top:25px;
}

#user-info-wrapper {
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}

#user-bio {
	float: left;
	width: auto;
	padding-left:5px;
	padding-right:10px;
	margin: 10px 0 10px 0;
	text-align: justify;
}

#user-info {
	width: 60%;
	padding: 10px;
	float: right;
}

/**
	Inbox Panel
**/

a > img {
	margin-top: 5px;
	height: 40px;
	width: 55px;
}

.label-text{
	text-align:center;
	bottom:20px;
	line-height:10px;
}

#inbox-panel {
	height: auto;
	border-bottom: solid 2px #95a5a6;
	margin: 0px 0 0px 0;
	background-color: #bdc3c7;
}

#circle {
	width: 20px;
	height: auto;
	background: #f1c40f;
	margin: 14px 0 10px 0px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

/**
	Group-Panel
**/

#group-pic{
	width:auto;
}

.notif-number{
	text-align:center;
}

#group-panel{
	height: auto;
	border-bottom: solid 2px #95a5a6;
	margin: 0px 0 0px 0;
	overflow: auto;
	background-color: #bdc3c7;
}

/*GROUP FIELD*/
	#group-field{
		display: none;
		width: auto;
		height: auto;
		padding: 5px;
		padding-right: 5px;
		padding-left: 5px;
		background-color: white;
		border: solid 2px #34495e;
		box-shadow: 1px 1px 5px silver;
	}

	#group-field-content{
		width: auto;
		height:auto;
	}

	.user-group{
		border-bottom: solid 3px #95a5a6;
		height: auto;
		margin: 0px 0 0px 0;
	}

	.group-name{
		font-size: 15px;
		margin-left:5px;
		text-align: center;
		bottom:20px;
		line-height:10px;
	}

	.group-icon{
		font-size: 25px;
		margin-top:15px;
	}

/**
	Group-feed
**/

#group-feed {
	height: auto;
	background-color: white;
	padding: 0;
	margin: 0 0 0 auto;
}

/**
	Welcome Note(For Empty Group page)
**/

#welcome-note{
	width: 100%;
	padding: 5px;
	color: white;
	text-align:center;
	background-color: #7f8c8d;
}

#welcome{
	background-color: ‪#25242C;
}

/**
	Update-panel
**/

.update-panel-wrapper {
	height: auto;
	border-bottom: solid 1px #e9e0d6;
}

.update-panel {
	height: auto;
	margin: 10px;
}

.feed-icon-wrapper {
	margin-top: 20px;
	text-align: center;
}

.feed-icon {
	width: 50px;
	height: 50px;
	margin: 0;
	border: 2px solid #354458;
    border-radius: 50px;
}

.feed-text {
	margin-top: 10px;
	height: auto;
	text-align: justify;

}