
/* PROFILE PANEL */

	#profile-panel-wrapper{
		padding: 0;
		box-shadow: 0px 0px 5px #bdc3c7;
	}

	#profile-panel {
		padding: 10px;
		background-color: white;
		color: #7f8c8d;
	}

	#user-info-wrapper {
		text-align: center;
	}

	.profile-icon{
		font-size:35px;
		padding: 10px;
	}

	.circle {
		width: 20px;
		height: 20px;
		background: #2ecc71;
		border: solid 1px white;
		border-radius: 50px;
		position: absolute;
		line-height: 18px;
	}

	#group-icon-wrapper .circle {
		top: 15px;
		right: 0;
	}

	#group-field-content .circle {
		color: white;
		top: 15px;
		right: 15px;
	}

	.notif-number{
		text-align:center;
	}


/* INBOX PANEL */

	#inbox-panel {
		cursor: pointer;
		background-color: #3498db;
	}

	#inbox-panel .col-md-12 {
		text-align: center;
		color: white;
	}


/* GROUP PANEL */

	#group-panel {
		cursor: pointer;
		background-color: #2980b9;
	}

	#group-panel .col-md-12 {
		text-align: center;
		color: white;
	}


/* GROUP FIELD (dropdown) */

	#group-field {
		display: none;
		background-color: white;
	}

	#group-field-content {
		width: auto;
		height:auto;
	}

	.user-group {
		cursor: pointer;
		padding: 5px;
		border-bottom: solid 1px #bdc3c7;
	}

	.group-name {
		text-align: center;
	}

	.group-icon {
		position: absolute;
		font-size: 15px;
		margin-top: 10px;
		left: 25px;
		top: 8px;
	}



/* GROUP FEED */

	#group-feed {
		background-color: white;
		padding-right: 0;
		box-shadow: 0 0 5px #bdc3c7;
	}


	#welcome-note {
		width: 100%;
		padding: 5px;
		text-align:center;
		background-color: #34495e;
	}

	#welcome-note h3 {
		color: white;
	}

	#welcome{
		background-color: ‪#25242C;
	}

/* UPDATE PANEL */

	.update-panel-wrapper {
		height: auto;
		border-bottom: solid 1px #bdc3c7;
	}

	.update-panel {
		height: auto;
		margin: 10px;
	}

	.feed-icon-wrapper {
		margin-top: 20px;
		text-align: center;
	}

	.feed-icon {
		width: 50px;
		height: 50px;
		margin: 0;
		border: 2px solid #34495e;
	    border-radius: 50px;
	}

	.feed-text {
		margin-top: 10px;
		height: auto;
		text-align: justify;

	}