/* IMAGE CAROUSEL */

	#carousel-wrapper {
		padding: 0;
		height: auto;
		box-shadow: 1px 1px 5px silver;
	}

	.carousel-caption {
		display: none;
	}

	#image-slider-wrapper {
		width: 100%;
		overflow: hidden;
	} 

	#image-slider {
		margin-right: -15px;
		margin-left: -15px;
	}

	.item {
		width: 100%;
		height: auto;
	}

	.item img {
		width: 100%;
	}


/* WELCOME PANEL */

	#welcome-panel {
		background-color: white;
	}

	#welcome-wrapper {
		text-align: center;
	}

	#welcome-wrapper p {
		color: #2980b9;
		font-style: italic;
	}

/* DEGREE PROGRAMS */
	
	#degree-programs {
		padding: 0;
		text-align: center;
		height: auto;
	}

	#degree-program-icon {
		width: 100%;
		padding: 5%;
		border-radius: 100%;
	}

	.degree-program-wrapper {
		padding: 10px;
		background-color: #ecf0f1;
		border: solid 5px white;
	}


/*EVENT GROUP */

	#event-wrapper {
		background-color: #ecf0f1;
		text-align: center;
	}


	#event-group {
		height: auto;
	}
	
	.event-entry {
		border: solid 5px #ecf0f1;
		background: white;
		padding: 0;
	}

	.event-date-stamp {
		padding: 10px;
		background-color: #2ecc71;
		font-size: 0.8em;
		color: white;
		border-left: solid 5px #27ae60;
		line-height: 5px;
	}

	.event-date-stamp h4 {
		font-size: 2em;
	}

	.event-date-stamp p {
		font-size: 0.9em;
	}

	.event-body {
		padding: 10px;
		line-height: auto;
	}


/* PUBLICATIONS */
	
	#publications-panel {
		background-color: white;
	}

	#publications-panel h1 {
		text-align: center;
	}

	.pub-entry {
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: justify;
		border-bottom: dashed 1px silver;
	}

	.pub-entry img {
		width: 90%;
		margin: 5%;
		padding-right: 10px;
	}

	.pub-body {
		padding: 0;
		padding-left: 20px;
	}