/* SHELF WRAPPER */

	#shelf {
		background-image: url("../res/images/library-overlay.jpg");
		background-color: #bdc3c7;
		background-size: 100% 100%;
	}

	#shelf-overlay {
		background-color: rgba(0,0,0,0.7);
	}
	  
	#shelf-panel1 {
		color: white;
	}

	#shelf-panel1 h1 {
		color: white;

	}

	#shelf-menu {
		padding: 0;
		margin: 0;
	}

	#shelf-info-panel {
		padding: 0;
		padding-right: 15px;
		text-align: justify;
	}

	#shelf-search-panel {
		color: white;
		background-color: rgba(236, 240, 241, 0.5);
		padding: 15px;
	}

	#shelf-search-panel h3 {
		text-align: center;
	}

	#shelf-search-panel h3, h5 {
		color: white;
	}

	#shelf-menu .search-text-input {
		width: 100%;
		border: none;
		border-radius: 5px;
		background-color: white;
		text-indent: 15px;
	}

	.type-button {
		padding: 10px;
		background-color: #bdc3c7;
		text-align: center;
		border:solid 1px #95a5a6;
		cursor: hand;
	}

	#shelf-menu button {
		margin: 5px;
	}


	/* SHELF BODY */

	#shelf-image {
		width: 100%;
		margin: auto;
	}

	#shelf-body-wrapper {
	}

	#shelf-body-title-container {
		text-align: center;
	}

	#shelf-body-title-container h2, h4 {
		color: #2c3e50;
	}



	/* BOOK LIST */

	#book-list-table {
		width: 100%;
		text-align: center;
		background-color: white;
		border: solid #2c3e50 20px;
	}


	.book {
		width: 150px;
		height: 200px;
		margin: 10px auto 10px auto;
		background-color: #3498db;
		box-shadow: 1px 1px 5px #7f8c8d;
		transition: all 0.5s linear;
	}

	.book:hover {
		transform:scale(1.05);
		background-color: #2980b9;
	}



	/* PREVIEW */

	#SPT-preview {
		margin-top: 25px;
		margin-bottom: 25px;
		display: none;
		padding: 0;
		box-shadow: 0px 0px 5px #7f8c8d;
	}

	#SPT-preview img {
		width: 100%;
		height: auto;
	}


	/* SPT SEARCH */

	#shelf-search-results {
		display: none;
		background-color: white;
	}

	#search-result {
		width: 100%;
		color: #2c3e50;
	}

	#results-field {
		height: 200px;
	}

	#back-to-shelf {
		width: 80px;
		height: 80px;
		border-radius: 100%;
		background-color: #27ae60;
		border: solid white 3px;
		z-index: 5000;
		text-align: center;
		float: right;
		color: white;
		cursor: hand;
		margin-bottom: 2
		box-shadow: 0 0 5px #2c3e50;
	}

	#back-to-shelf p {
		line-height: 80px;
	}


	/* LIBRARY SWITCH */

	#library-switch {
		width: 80px;
		height: 80px;
		border-radius: 100%;
		background-color: #27ae60;
		border: solid white 3px;
		z-index: 5000;
		text-align: center;
		position: fixed;
		right: 25;
		bottom: 25;
		color: white;
		cursor: hand;
		box-shadow: 0 0 5px #2c3e50;
	}

	#library-switch p {
		line-height: 80px;
	}