#shelf {
	background-color: #333333;
	background-image: url("../res/images/uplb-blur.jpg");
	background-size: 100% 100%;
	overflow: hidden;
}

#shelf-panel1 {
}

#shelf-panel2 {
	display: none;
	background-color: rgba(255,255,255, 0.5);
	padding-bottom: 25px;
	border-top: solid 5px #95a5a6;
	border-bottom: solid 5px #95a5a6;
}

#shelf-menu {
	padding: 0;
	margin: 0;
}

#shelf-menu table {
}

#advance-search-toggle {
	margin-top: -55px;
	float: right;
	text-align: center;
}

#advance-search-toggle span {
	font-size: 30pt;
	color: #7f8c8d;
	margin-top: -15px;
}

#shelf-menu .search-text-input {
	width: 100%;
	border: none;
	background-color: rgba(255,255,255, 0.7);
	border-bottom: solid 1px #7f8c8d;
	text-align: center;
}

#shelf-menu .search-option-left {
	text-align: right;
	width: auto;
	padding-right: 20px;
}

#shelf-menu button {
	margin: 5px;
	float: right;
}

#shelf-wrapper {
	height: 100%;
}

#shelf-wrapper-content {
	height: 100%;
	width: 100%;
}

#search-result {
	width: 100%;
	height: 100%;
	margin: auto;
	color: white;
	display: none;
}

#search-result > div {
	width: 100%;
	margin-top: 25px;
}

#results-field {
	width: 100%;
	overflow-y: scroll;
	height: 300px;
}

#search-result #results-field::-webkit-scrollbar {
	display: none;
}

#back-to-shelf {
	height: 80px;
	width: 80px;
	border-radius: 100px;
	position: absolute;
	right: 25px;
	margin-top: -25px;
	background-color: #ad3a45;
	box-shadow: 1px 1px 3px black;
	text-align: center;
	cursor: hand; 
}

#back-to-shelf p {
	line-height: 80px;
}


#date-container {
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 25px;
}

#book-title-wrapper {
	height: 50px;
	width: 90%;
	margin: auto;
	color: white;
	background: #ad3a45;
	border-radius: 5px;
	text-align: center;
	margin-top: 15px;
	box-shadow: 1px 1px 5px black;
}

#book-title {
	line-height: 50px;
}

.book-list {
	margin: auto;
	margin-left: -20px;
	width: 100%;
	list-style: none;
	text-align: center;
	margin-top: 25px;
}

.book-list li {
	margin: auto;
	display: inline-block;
}

.book-list li > div {
	height: 200px;
	width: 70px;
	margin: auto;
	margin-top: 20px;
	background-color: #e9e0d6;
	box-shadow: 1px 1px 3px #666666;
	cursor: hand;
}

.book-list li > div > h5 {
	margin-top: 80px;
}


#shelf-wood {
	margin: auto;
	width: 90%;
	height: auto;
	margin-top: -90px;
}

#plate-top {
	height: 0;
	width: 100%;
	border: solid 50px saddlebrown;
	border-top-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);

}

#plate-edge {
	width: 100%;
	height: 30px;
	background-color: saddlebrown;
	background-image: url("../res/images/wood.png");
}

#SPT-preview {
	display: none;
}

#SPT-preview img {
	width: 100%;
	height: auto;
}

#library-switch {
	width: 100px;
	height: 100px;
	border-radius: 200px;
	background-color: maroon;
	z-index: 5000;
	text-align: center;
	position: fixed;
	right: 25;
	bottom: 25;
	color: white;
	cursor: hand;
}

#library-switch p {
	line-height: 100px;
}