/* UPPER PANEL - ABOUT */

#upper-panel {
	margin: 10px 0 10px 0;
	/*height: 350px;*/
}


	/* UPPER LEFT - INFO */

#profile-upper-left-panel {
	height: 100%;
	text-align: center;
	background-color: #95a5a6;
	border-right: 5px solid #2ecc71;
	color: white;
}

#profile-pic {
  height:220px;
  width: 220px;
  border-radius: 220px;
  margin-top: 25px;
  background-color: white;
  box-shadow: 1px 1px 5px #333333;
}

#profile-basic-info {
	margin: 25px;
}

	/* UPPER RIGHT - LONGER INFO */

#profile-upper-right-panel {
	height: 100%;
	background-color: #bdc3c7;
	color: white;
	padding: 2%;
}

#profile-upper-right-panel p {
	text-align: justify; 
}

#profile-info {
	height: 250px;
}

.prof-info{
	text-align:center;
}
	/* UPPER RIGHT > BELOW - MESSAGING */
#profile-message-wrapper {
	width: 100%;
	margin-top: 20px;
}

#profile-message-wrapper p {
	float: right;
	color: #2c3e50;
	margin: 10px;
}

/* BOTTOM PANEL - SENDING EXER */

#prof-bottom-panel {
	height: 300px;
	margin-bottom: 15px;
	padding-top: 15px;
}

	/* BOTTOM LEFT - GUIDELINES ON SENDING EXER */

#prof-bottom-panel-content {
	margin: 15px 25px 0 0;
	text-align: center;
}

#text-panel {
	text-align: justify;
	margin-bottom: 5px;
}

	/* BOTTOM RIGHT - EXER FORM */

#send-exer-panel{
	height: 100%;
	float: left;
}

#profile-exer {
	width: 100%;
}

#profile-exer table {
	width: 100%;
}

#profile-exer table p {
	float: right;
	margin-right: 20px;
}

#profile-exer table input {
	width: 100%;
}


#profile-exer table button {
	text-align: center;
}