body {
	background-color: white;
}

/* LEFT PENL */

	#news-left-panel {
		padding: 0;
		text-align: center;
		background-color: #bdc3c7;
		margin-top: 20px;		
	}

	#news-header {
		background-color: #95a5a6;
	}

	#news-header img {
		width: 100%;
	}

	#news-header h1 {
		color: white; 
	}
	
	.links-panel {
		background-color: #ecf0f1;
		text-align:center;
		padding: 10px 5px 5px 5px;
		line-height: 15pt;
		border-bottom: solid 1px #bdc3c7;
	}

	.links-panel a {
		color: #7f8c8d;
	}

	.links-panel .col-md-2 {
		font-size: 15pt;
		font-weight: bolder;
	}


/* RIGHT PANEL */

	#pub-head {
		width: 100%;
		box-shadow: 0 0 5px gray;
	}

	#news-right-panel {
		padding: 0;
		margin-top: 20px;
	}

	#news-article-wrapper {
		background-color: white;
/*		box-shadow: 0px 0px 5px #bdc3c7;
*/		padding: 0;
	}

	#news-article-wrapper h2 {
		color: #2c3e50;
	}

	#title-panel {
		margin: 25px;
	}

	#body-panel {
		margin: 25px;
		text-align: justify;
	}
