/* LEFT PENL */


	#news-left-panel {
		padding: 0;
		text-align: center;
	}

	#news-header {
		background-color: #2c3e50;
	}

	#news-header h1 {
		color: white;
	}
	
	#news-search-panel {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #bdc3c7;
	}
	 
	#news-searchbar-wrapper {
		padding: 0;
		padding-left: 10px;
	}

	#news-searchbar {
		width: 100%;
		border: solid 1px silver;
		color: gray;
		text-align: center;
	}

	#news-search-icon {
		color: white;
		margin-top: 5px;
	}

	.links-panel {
		background-color: white;
		text-align:center;
		padding: 10px 5px 10px 5px;
		border-bottom: solid 1px #bdc3c7;
	}

	.links-panel a {
		color: #7f8c8d;
	}

	.links-panel .col-md-2 {
		font-size: 15pt;
		font-weight: bolder;
	}


/* RIGHT PANEL */

	#news-right-panel {
	}

	#news-article-wrapper {
		background-color: white;
	}

	#news-article-wrapper h2 {
		color: #2c3e50;
	}

	#title-panel {
		margin: 25px;
	}

	#body-panel {
		margin: 25px;
		text-align: justify;
	}
